
p {
    color: blue;
    font-size: 30px;
}
#logo{
    margin: 50px;
    
}
#containerver {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

  }
  #content {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    border: 1px solid rgb(202, 202, 202);
    width: 400px;
    border-radius: 20px;

  }

  #inputbox {
      display: block;
      margin: auto;
      width: 350px;
      height: 30px;
      border: 0px;
      font-family: 'Roboto', sans-serif;
      border-style: none;
      outline-style: none;
    }
   #searchicons {
       color: rgb(134, 134, 134);
       margin-left: 5px;
       margin-right: 5px;
   } 
  }