

#topbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 20px;
    margin: 20px;

}
#logo{
    margin: 50px;
    
}
#containerver {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    

  }
  #content {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    border: 1px solid rgb(202, 202, 202);
    width: 500px;
    height: 40px;
    border-radius: 20px;

  }

  #button-row {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin: 30px;
    width: auto;
    padding: 30px;
   }

  button{
      border-style: none;
      color: rgb(71, 71, 71);
  }
  #inputbox {
      display: block;
      margin: auto;
      width: 350px;
      height: 30px;
      border: 0px;
      font-family: 'Roboto', sans-serif;
      border-style: none;
      outline-style: none;
    }
   #searchicons {
       color: rgb(134, 134, 134);
       margin-left: 5px;
       margin-right: 5px;
   } 
  }